@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Coffe</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <small id="emailHelp" class="form-text text-muted">Please select your coffe</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Coffe Size</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Add extra one unite Milk</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Add extra one unite Coffe</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Add extra one unite Water</label>
                    </div>
                    Total Price:<b>12 TL</b><br />
                    <button type="submit" class="btn btn-primary" style="margin-top:20px">Submit</button>
                </form>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                Coffe in stock:<b>20</b><br />
                Milk in stock:<b>20</b><br />
                Water in stock:<b>20</b><br />

            </div>
        </div>
        
    </div>
  
