@{
    ViewData["Title"] = "Home Page";
}
@model List<CoffeShop.Data.Models.DataModels.Coffe>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label>Coffe</label>
                    <select class="form-control" id="coffeDropDown" onchange="GetCoffeSizes()">
                        @{
                            <option value="0">Please Select Your Coffe</option>
                            foreach (var items in Model)
                            {
                                <option value="@items.Id">@items.Name</option>
                            }
                        }
                    </select>
                    <small id="infoCoffe" class="form-text text-muted">Please select your coffe</small>
                </div>
                <div id="divCoffeSize">
                    @{
                        await Html.PartialAsync("~/Views/Home/Partial/SizeDropDown.cshtml", new List<CoffeShop.Data.Models.ViewModel.Coffe_CoffeSize_View>());
                    }
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkBoxMilk">
                    <label class="form-check-label" for="checkBoxMilk">Add extra one unite Milk</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkBoxCoffe">
                    <label class="form-check-label" for="checkBoxCoffe">Add extra one unite Coffe</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkBoxWater">
                    <label class="form-check-label" for="checkBoxWater">Add extra one unite Water</label>
                </div>
                <input onclick="GetOrderDetail()"  class="btn btn-primary" style="margin-top:20px;cursor:pointer" value="Order Preview"/>
            </form>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            Coffe in stock:<span id="amountOfCoffeInStockSpn"><b>50</b></span><br />
            Milk in stock:<span id="amountOfMilkInStockSpn"><b>50</b></span><br />
            Water in stock:<span id="amountOfWaterInStockSpn"><b>50</b></span><br />

        </div>
    </div>

</div>
<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Coffe Name: <b><span id="coffeNameSpn"></span></b><br />
                Coffe Size: <b><span id="coffeSizeSpn"></span></b><br />
                <hr />

                Amount of coffe in Coffe: <b><span id="coffeAmountSpn"></span></b><br />
                Amount of milk in Coffe: <b><span id="milkAmountSpn"></span></b><br />
                Amount of water in Coffe: <b><span id="waterAmountSpn"></span></b><br />
                <hr />

                Extra coffe added: <b><span id="extraCoffeSpn"></span></b><br />
                Extra milk added: <b><span id="extraMilkSpn"></span></b><br />
                Extra water added: <b><span id="extrWaterSpn"></span></b><br />
                <hr />

                Total Price: <b><span id="totalPrice"></span></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="ConfirmOrder()">Confirm Order</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="warningMsgSpn"></span></b><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Order is Successful. Stocks are updated.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    function GetCoffeSizes() {
        let selectedValue = $('select[id=coffeDropDown]').val();
        $.ajax({
            url: '/Home/GetCoffeSizes',
            type: 'GET',
            data: {
                coffeId: selectedValue
            },
            success: function (response) {
                let refreshDiv = document.getElementById("divCoffeSize")
                refreshDiv.innerHTML = response;
            },
            error: function (hata, ajaxOptions, thrownError) {

            }
        });
    }


    function UpdateNeeds() {
        let milkneed = $("#coffeSizeDropDown").find(':selected').attr('milkneed');
        let waterneed = $("#coffeSizeDropDown").find(':selected').attr('waterneed');
        let coffeneed = $("#coffeSizeDropDown").find(':selected').attr('coffeneed');

        if (milkneed != null) {
            document.getElementById("milkNeed").innerHTML = "Milk need: <b>" + milkneed + " unit</b>"
            document.getElementById("coffeNeed").innerHTML = "Coffe need: <b>" + coffeneed + " unit</b>"
            document.getElementById("waterNeed").innerHTML = "Water need: <b>" + waterneed + " unit</b>"
            $('#coffeNeeds').css('display', 'block');

        }
        else {
            $('#coffeNeeds').css('display', 'none');
        }

    }

    function GetOrderDetail() {
        let milkneed = $("#coffeSizeDropDown").find(':selected').attr('milkneed');
        let waterneed = $("#coffeSizeDropDown").find(':selected').attr('waterneed');
        let coffeneed = $("#coffeSizeDropDown").find(':selected').attr('coffeneed');

        let milkcheck = document.getElementById("checkBoxMilk").checked
        let coffecheck = document.getElementById("checkBoxCoffe").checked
        let watercheck = document.getElementById("checkBoxWater").checked

        $.ajax({
            url: '/Home/GetOrderDetail',
            type: 'GET',
            data: {
                milkNeed: parseFloat(milkneed.replace(',','.')).toFixed(2),
                coffeNeed: parseFloat(coffeneed.replace(',','.')).toFixed(2),
                waterNeed: parseFloat(waterneed.replace(',', '.')).toFixed(2),
                milkCheck: milkcheck,
                coffeCheck: coffecheck,
                waterCheck: watercheck
            },
            success: function (response) {
                if (response.isOk) {
                    document.getElementById("coffeNameSpn").textContent = $("#coffeDropDown option:selected").text();;
                    document.getElementById("coffeSizeSpn").textContent = $("#coffeSizeDropDown option:selected").text();;

                    document.getElementById("coffeAmountSpn").textContent = coffeneed;
                    document.getElementById("milkAmountSpn").textContent= milkneed;
                    document.getElementById("waterAmountSpn").textContent= waterneed;
                    document.getElementById("totalPrice").textContent = response.extraData;

                    document.getElementById("extraCoffeSpn").textContent= coffecheck;
                    document.getElementById("extraMilkSpn").textContent= milkcheck;
                    document.getElementById("extrWaterSpn").textContent = watercheck;

                    $("#confirmModal").modal()
                }
                else {
                      document.getElementById("warningMsgSpn").textContent= response.message;
                    $("#warningModal").modal()
                }
            },
            error: function (hata, ajaxOptions, thrownError) {

            }
        });


    }

    function ConfirmOrder() {
        let milkneed = document.getElementById("milkAmountSpn").innerText;
        let waterneed = document.getElementById("waterAmountSpn").innerText;
        let coffeneed = document.getElementById("coffeAmountSpn").innerText;

        let milkcheck = document.getElementById("checkBoxMilk").checked
        let coffecheck = document.getElementById("checkBoxCoffe").checked
        let watercheck = document.getElementById("checkBoxWater").checked

        $.ajax({
            url: '/Home/ConfirmOrder',
            type: 'GET',
            data: {
                milkNeed: parseFloat(milkneed.replace(',', '.')).toFixed(2),
                coffeNeed: parseFloat(coffeneed.replace(',', '.')).toFixed(2),
                waterNeed: parseFloat(waterneed.replace(',', '.')).toFixed(2),
                milkCheck: milkcheck,
                coffeCheck: coffecheck,
                waterCheck: watercheck
            },
            success: function (response) {
                debugger;
                document.getElementById("amountOfCoffeInStockSpn").textContent = response.coffeInStock;
                document.getElementById("amountOfMilkInStockSpn").textContent = response.milkInStock;
                document.getElementById("amountOfWaterInStockSpn").textContent = response.waterInStock;
                $("#confirmModal").hide()
                $("#successModal").modal()
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $("#successModal").modal()

            },
            error: function (hata, ajaxOptions, thrownError) {

            }
        });

    }
</script>

